<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"> 
	<h:head>
	  <title>My-Aktion</title>
	  <meta charset="UTF-8"/>
	  <h:outputStylesheet name="/screen.css"/>
	</h:head>
	<h:body>
	  <div id="container">
	    <div id="header">
	      <p>Example application <b>My-Aktion</b> - Workshop JEE 7</p>
	    </div>
	    <div id="content">
	      <ui:insert name="content">
	        [Template content will be inserted here]
	      </ui:insert>
	    </div>
	    <div id="footer">
	      <p> (C) 2013-14 dpunk.verlag</p>
	    </div>
	  </div>
	</h:body>
</html>